<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>锦鲤池</title>
</head>
<body>
    <div id="app" class="container-fluid">

        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">友链管理</h1>
                    <p class="lead">如果你的好友博客支持订阅，可以添加都这里，自动获取最新内容</p>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">网站名字</th>
                        <th scope="col">网站地址</th>
                        <th scope="col">订阅地址</th>
                        <th scope="col">最后更新时间</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in friends">
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.site_title}}</td>
                        <td>{{item.site_url}}</td>
                        <td>{{item.subscribe_url}}</td>
                        <td>{{item.last_pub_time}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" v-on:click="onUpdateFriend(index)" >修改</button>
                            <button type="button" class="btn btn-danger"  v-on:click="onDeleteFriend(index)" >删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">重要参数</h4>
                    <p>请输入后台的管理地址</p>
                    <hr>
                    <div class="form-group">
                        <label for="server_url">管理端地址：</label>
                        <input type="text" id="server_url" class="form-control" v-model="server_url" placeholder="服务端地址">
                    </div>
                    <div class="form-group">
                        <label for="server_token">管理端Token：</label>
                        <input type="text" id="server_token" class="form-control" v-model="server_token" placeholder="管理Token">
                    </div>
                    <button class="btn btn-info btn-primary" v-on:click="onCatchServerInfo">缓存到本地</button>
                </div>

                <hr/>
                <div>
                    <h2>
                        {{inputTitle}}
                        <button class="btn btn-success btn-sm" v-on:click="onAddFriendClick">新增朋友</button>
                    </h2>
                    <div class="form-group">
                        <label for="subscribe_url">订阅地址：</label>
                        <input :disabled="selectFriend.id" type="text" class="form-control" id="subscribe_url" v-model="selectFriend.subscribe_url">
                    </div>
                    <div class="form-group">
                        <label for="site_logo">网站Logo：</label>
                        <input type="text" class="form-control" id="site_logo" v-model="selectFriend.site_logo">
                    </div>
                    <button type="submit" class="btn btn-primary" v-on:click="onSaveFriend">保存</button>
                </div>
            </div>
        </div>
    </div>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                friends: [],
                // 输入框
                inputTitle: "新增朋友",
                // 选中的朋友
                selectFriend: {},
                // 服务端信息
                server_url: "",
                server_token: ""
            },
            methods: {
                showMsg(msg){
                    alert(msg)
                },
                checkToken: function (){
                  if(this.server_token===""||this.server_url===""){
                      this.showMsg("请先输入管理端信息")
                      return false
                  }
                  return true
                },
                // 保存
                onSaveFriend: function (){
                    if (!this.checkToken()){return}
                    let self = this
                    const response = fetch(this.server_url+"/friends?token="+this.server_token, {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.selectFriend)
                    })
                    response.then(res => res.json())
                        .then(json=>{
                            if(json.message==="success"){
                                if(this.selectFriend .ID){
                                    self.showMsg("更新成功")
                                }else{
                                    self.showMsg("添加成功")
                                    self.friends.push(json.data)
                                }
                            }
                        })
                },
                onUpdateFriend: function(index){
                    if (!this.checkToken()){return}
                    this.selectFriend = this.friends[index]
                    this.inputTitle = "修改朋友"
                },
                onDeleteFriend: function (index){
                    if (!this.checkToken()){return}
                    let x;
                    let r=confirm("确认删除朋友，同时他的日志也会被清理哦！");
                    if (r==false){
                        return;
                    }

                    let friend = this.friends[index]
                    let self = this
                    const response = fetch(this.server_url+`/friends?token=${this.server_token}&id=${friend.id}`, { method: "DELETE" })
                    response.then(res => res.json())
                        .then(json =>{
                            if(json.message==="success"){
                                self.showMsg("删除成功")
                                self.friends.splice(index)
                            }
                        })
                },

                // 获取全部朋友
                fetchFriends: function (){
                    console.log("获取朋友列表")
                    let self = this
                    const response = fetch(this.server_url+"/friends", { method: "GET" })
                    response.then(res => res.json())
                        .then(json =>{
                            self.friends = json.data
                        })
                },

                // url添加参数
                updateQueryStringParameter: function(uri, key, value) {
                    if(!value) { return uri }
                    let re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                    let separator = uri.indexOf('?') !== -1 ? "&" : "?";
                    if (uri.match(re)) {
                        return uri.replace(re, '$1' + key + "=" + value + '$2');
                    }
                    else {
                        return uri + separator + key + "=" + value;
                    }
                },
                // 获取url参数
                getUrlRequest: function() {
                    let url = location.search; //获取url中"?"符后的字串
                    let tRequest = new Object();
                    if (url.indexOf("?") != -1) {   //判断 URL 中是否包含查询字符串
                        let str = url.substr(1);   //如果 URL 中包含查询字符串，截取查询字符串，去掉前面的“?”号。
                        let strs = str.split("&");    //将查询字符串按“&”号分割成一个个参数对。
                        for(let i = 0; i < strs.length; i ++) {    //循环遍历所有的参数对。
                            tRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);    //对每一个参数对进行处理，将参数名和参数值存储到 tRequest 对象中。
                        }
                    }
                    return tRequest;
                },

                // 缓存服务端信息到本地
                onCatchServerInfo: function (){
                    localStorage.setItem("server_url", this.server_url);
                    localStorage.setItem("server_token", this.server_token);
                    this.showMsg("缓存成功")
                },
                onAddFriendClick: function (){
                    this.selectFriend = {}
                    this.inputTitle = "添加朋友"
                }

            },
            mounted: function (){
                this.server_url = localStorage.getItem("server_url")
                this.server_token = localStorage.getItem("server_token")
                if (this.server_url){
                    this.fetchFriends()
                }
            }
        })
    </script>


    <style>

        #app{
            /*max-width: 90%;*/
            margin: 20px auto;
        }
    </style>

</body>
</html>

