<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>锦鲤池</title>
</head>
<body>
    <div id="app" class="container-fluid">

        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">友链管理</h1>
                    <p class="lead">如果你的好友博客支持订阅，可以添加都这里，自动获取最新内容</p>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">网站名字</th>
                        <th scope="col">网站地址</th>
                        <th scope="col">订阅地址</th>
                        <th scope="col">最后更新时间</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in friends">
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.site_title}}</td>
                        <td>{{item.site_url}}</td>
                        <td>{{item.subscribe_url}}</td>
                        <td>{{item.last_update_time}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" v-on:click="onUpdateFriend(index)" >修改</button>
                            <button type="button" class="btn btn-danger"  v-on:click="onDeleteFriend(index)" >删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">重要参数</h4>
                    <p>请输入后台的管理token</p>
                    <hr>
                    <input type="text" class="form-control" v-model="token" placeholder="管理Token">
                </div>

                <hr/>
                <div>
                    <h2>{{inputTitle}}</h2>
                    <div class="form-group">
                        <label for="subscribe_url">订阅地址</label>
                        <input :disabled="inputFriend.id" type="text" class="form-control" id="subscribe_url" v-model="inputFriend.subscribe_url">
                    </div>
                    <div class="form-group">
                        <label for="site_logo">网站Logo</label>
                        <input type="text" class="form-control" id="site_logo" v-model="inputFriend.site_logo">
                    </div>
                    <button type="submit" class="btn btn-primary" v-on:click="onSaveFriend">保存</button>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                urlRequest: {
                    token: ""
                },
                token: '',
                friends: [],
                inputFriend: {
                    subscribe_url: "",
                    site_logo: "",
                },
                inputTitle: "添加朋友",
                inputIsChange: false,
                server_url: "http://127.0.0.1"
            },
            methods: {
                showMsg(msg){
                    alert(msg)
                },
                checkToken: function (){
                  if(this.token===""){
                      this.showMsg("请先输入管理Token")
                      return false
                  }
                  return true
                },
                // 保存
                onSaveFriend: function (){
                    if (!this.checkToken()){return}
                    let self = this
                    const response = fetch(this.server_url+"/friends?token="+this.token, {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.inputFriend)
                    })
                    response.then(res => res.json())
                        .then(json=>{
                            if(json.message==="success"){
                                if(this.inputFriend.ID){
                                    self.showMsg("更新成功")
                                }else{
                                    self.showMsg("添加成功")
                                    self.friends.push(json.data)
                                }
                            }
                        })
                },
                onUpdateFriend: function(index){
                    if (!this.checkToken()){return}
                    this.inputFriend = this.friends[index]
                    this.inputTitle = "修改朋友信息"
                    this.inputIsChange = true
                },
                onDeleteFriend: function (index){
                    if (!this.checkToken()){return}
                    let friend = this.friends[index]
                    let self = this
                    const response = fetch(this.server_url+`/friends?token=${this.token}&id=${friend.id}`, { method: "DELETE" })
                    response.then(res => res.json())
                        .then(json =>{
                            if(json.message==="success"){
                                self.showMsg("删除成功")
                                self.friends.splice(index)
                            }
                        })
                },

                // 获取全部朋友
                fetchFriends: function (){
                    console.log("获取朋友列表")
                    let self = this
                    const response = fetch(this.server_url+"/friends", { method: "GET" })
                    response.then(res => res.json())
                        .then(json =>{
                            self.friends = json.data
                        })
                },

                // url添加参数
                updateQueryStringParameter: function(uri, key, value) {
                    if(!value) { return uri }
                    let re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                    let separator = uri.indexOf('?') !== -1 ? "&" : "?";
                    if (uri.match(re)) {
                        return uri.replace(re, '$1' + key + "=" + value + '$2');
                    }
                    else {
                        return uri + separator + key + "=" + value;
                    }
                },
                // 获取url参数
                getUrlRequest: function() {
                    let url = location.search; //获取url中"?"符后的字串
                    let tRequest = new Object();
                    if (url.indexOf("?") != -1) {   //判断 URL 中是否包含查询字符串
                        let str = url.substr(1);   //如果 URL 中包含查询字符串，截取查询字符串，去掉前面的“?”号。
                        let strs = str.split("&");    //将查询字符串按“&”号分割成一个个参数对。
                        for(let i = 0; i < strs.length; i ++) {    //循环遍历所有的参数对。
                            tRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);    //对每一个参数对进行处理，将参数名和参数值存储到 tRequest 对象中。
                        }
                    }
                    return tRequest;
                }

            },
            mounted: function (){
                this.urlRequest = this.getUrlRequest()
                if(typeof(this.urlRequest.token) == "undefined" || this.urlRequest.token==""){
                    // 使用系统默认的输入框采集token
                    let token = prompt("请输入服务端的管理Token", "");
                    if (token)//如果返回的有内容
                    {
                        let uri = window.location.href
                        let newUri = this.updateQueryStringParameter(uri, "token", token)
                        window.location.href = newUri
                    }else{
                        alert("没输入token，将无法管理朋友哦")
                    }
                }
                this.token = this.urlRequest.token
                this.fetchFriends()
            }
        })
    </script>


    <style>

        #app{
            /*max-width: 90%;*/
            margin: 20px auto;
        }
    </style>

</body>
</html>